%main.container.center-align
  %h1
    - if @user
      Welcome, #{@user.name}
    - else
      Welcome
  %p.flow-text Toast-It is a Sinatra application meant to mimic some of the functionality of Reddit.
  %a.waves-effect.waves-light.btn{href: '/toast-it'} Start Toasting!
