%main.container
  .row
    %h4.col.s12 Create a new topic
    %ul.collection.white
      %li.collection-item
        .col.s12
          %ul.tabs
            %li.tab.col.s6
              %a{href: '#text'} Text Topic
            %li.tab.col.s6
              %a{href: '#link'} Link Topic
        .col.s12#text
          .row
          .row
            %form.col.s12{action: '/toast-it/topics', method: 'post'}
              .row
                .input-field.col.s12
                  %input.validate#title{type: 'text', name: 'topic[title]', required: true}
                  %label{for: 'title'} Topic Title
                .input-field.col.s12
                  %textarea.materialize-textarea#content{name: 'topic[content]', required: true}
                  %label{for: 'content'} Topic Contents
              .row
                .col.s12
                  %button.btn.waves-effect.waves-light.right{type: 'submit'}
                    Create Text Topic
                    %i.material-icons.right send
        .col.s12#link
          .row
          .row
            %form.col.s12{action: '/toast-it/topics', method: 'post'}
              .row
                .input-field.col.s12
                  %input.validate#title{type: 'text', name: 'topic[title]', required: true}
                  %label{for: 'title'} Topic Title
                .input-field.col.s12
                  %input.validate#content{type: 'url', name: 'topic[content]', required: true}
                  %label{for: 'content'} Topic URL
              .row
                .col.s12
                  %button.btn.waves-effect.waves-light.right{type: 'submit', name: 'topic[link_topic]', value: 'true'}
                    Create Link Topic
                    %i.material-icons.right send
