%main.container
  .row
    %h4.col.s12.l10.offset-l1 Create a new account
  .row
    .col.s12.l10.offset-l1
      %ul.collection
        %li.collection-item
          %form{action: '/signup', method: 'post'}
            .row
              .input-field.col.s12
                - if @user && @user.errors[:name].any?
                  @user.errors[:name][0]
                  %input.validate#name{type: 'text', name: 'name', required: true, value: session[:failed_name]}
                - elsif !locals.empty?
                  %input.validate#name{type: 'text', name: 'name', required: true, autofocus: true, placeholder: message}
                - else
                  %input.validate#name{type: 'text', name: 'name', required: true, autofocus: true}
                %label{for: 'name'} Username
            .row
              .input-field.col.s12
                - if locals.empty?
                  %input.validate#password{type: 'password', name: 'password', required: true}
                - elsif session[:failed_name]
                  %input.validate#password{type: 'password', name: 'password', required: true, placeholder: message, autofocus: true}
                - else
                  %input.validate#password{type: 'password', name: 'password', required: true}
                %label{for: 'password'} Password
            .row
              .input-field.col.s12
                %input.validate#confirm_password{type: 'password', name: 'confirm_password', required: true}
                %label{for: 'confirm_password'} Confirm Password
            .row
              .col.s12
                %button.btn.waves-effect.waves-light.right{type: 'submit'}
                  Signup
                  %i.material-icons.right send
