body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1 0 auto;
    input {
      &#password {
        &::-webkit-input-placeholder {
          color: rgba(184, 1, 1, 0.4);
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: rgba(184, 1, 1, 0.4);
        }

        &::-moz-placeholder {  /* Firefox 19+ */
          color: rgba(184, 1, 1, 0.4);
        }

        &:-ms-input-placeholder {
          color: rgba(184, 1, 1, 0.4);
        }
      }
    }
    .inline-block {
      display: inline-block;
      vertical-align: top;
    }
    button.btn-flat:focus {
      background-color: transparent;
    }
    .slim, .vote {
      button, a.btn {
        padding: 0 6px;
      }
    }
    .slim a.waves-light {
      margin: 0 5px;
    }
    .user.collection {
      form {
        display: inline-block;
      }
    }
    .topic.collection, #comments.collection {
      .collection-item {
        padding-right: 10px;
        padding-left: 10px;
        ul.vote {
          max-width: 31px;
          margin-right: 5px;
        }
        i.circle {
          background-color: #999;
          color: white;
          padding: 10px;
          margin-top: 25px;
          max-width: 50px;
        }
        ul.post-info {
          margin-left: 5px;
          .chip {
            white-space: nowrap;
          }
          p.post-metadata {
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
