- @user = current_user
%main.container.center-align
  %h1< Error 400
  %p.flow-text Bad request.
  .row
    %img.responsive-img.col.s12{src: '/img/400.jpg'}
  .row
    %a.waves-effect.waves-light.btn{href: '/toast-it'} Get Toasting!
